<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>별이 아스라이 멀듯이</title>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

    <!--===== CSS =====-->
    <link rel = "stylesheet" href="{% static 'main.css' %}">
    <link rel = "stylesheet" href="/pensees/main/static/main.css">

    <link rel = "stylesheet" href="{% static 'chat_css.css' %}">
    <!--=== Google Fonts+Icons ===-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

</head>
<body>
    {% include "nav.html" %}

    <article id="container">
        <span id="conv-area"></span>
        <article id="input-section">
            <span id="autocomplete"></span>
            <span id="chat-section">
                <span id="chat-block"></span>
                <input id="chat-input"/>
            </span>
        </article>
    </article>

    <!--===== Animation + etc =====-->
    <script src="{% static 'main.js' %}"></script>
    <script src="/pensees/main/static/main.js"></script>
    
    <!--===== AI =====-->
    <script src="{% static 'chat_script.js' %}"></script>
</body>
</html>
