<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>태엽감는 꽃의 파반느</title>
    <link rel = "stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel = "stylesheet" href="/pensees/templates/for_web.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <nav class="left_navbar">
        <a class="section_link material-symbols-outlined">
            <span class="google-symbols">language</span>
            <div class="label">sans</div>
        </a>
        <a class="section_link material-symbols-outlined">
            <span class="google-symbols">apps</span>
            <div class="label">sans</div>
        </a>
        <a class="section_link material-symbols-outlined">
            <span class="google-symbols">code</span>
            <div class="label">sans</div>
        </a>
    </nav>

    
    
    
    
    
    
    
    





    <script src="/script.js"></script>
</body>
</html>

<!--   
    <link rel = "stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <div id="Chatform_Area">
        <div id="chatform">
            <input type="text" name="chat" placeholder="enter a message..." id="chatinput"/>
        </div>
        <article id="convArea">

        </article>
    </div>
-->
